@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    
    .hero--info {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .hero img {
        max-width: 80%;
        order: -1;
    }

    header {
        flex-direction: column;
        gap: 20px;
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: justify;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    background: linear-gradient(320deg,rgba(204, 177, 204, 1) 0%, rgba(222, 209, 224, 1) 67%, rgba(255, 255, 255, 1) 93%);
    width: 100%;

}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav{
    float: right;
    width: 50%;
    font-weight: 500;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a{
    color: #000000;
}

header nav ul li.btn a{
    background: #9586f7;
    padding: 14px 17px;
    border-radius: 12px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover{
    background: #a99eff;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.hero--info{
    width: 100%;
    max-width: 530px;
    padding-top: 50px;
}

.hero--info h1{
    color:#9586f7;
    font-size: 40px;
    font-weight: 600;
}

.hero--info h2{
    color:#9586f7;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.hero--info p{
    font-weight: 500;
    line-height: 170%;
    margin-top: 15px;
}

.hero img{
    max-width: 40%;
    height: auto;
}